
/* .icard {

    position: absolute;
    padding: 10px;
    height: 200px;
    width: 150px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    display: inline-block;
    top: 0;
    left: 0;
  }

  .cardtop {
    font-size: 2em;
    height: 40px;
    line-height: 0.7em;
  }

  .cardmid {
    text-align: center;
    font-size: 5em;
    height: 110px;
  }

  .cardbottom {
    font-size: 2em;
    height: 50px;
    line-height: 0.7em;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }

  .hearts .suit::after{ content: '\2665'; }
  .spades .suit::after{ content: '\2660'; }
  .clubs .suit::after{ content: '\2663'; }
  .diams .suit::after{ content: '\2666'; }
  .spades, .clubs{color:black;}
  .hearts, .diams{color:red;}
  .hand {
    position: relative;
  }

  .players {
    float: left;
    width: 49%;
    min-height: 300px;
    border: 1px solid #ddd;
  }
  
  
  .btn{
    border-radius: 5px;
    padding:9px 20px;
    color:white;
    display: inline-block;
    text-align: center;
    text-shadow: 1px 1px #000;
  }
  #btnBattle{
    background-color: red;
  }
  #btnBattle10{
    background-color: blue;
  }
  #btnBattle50{
    background-color: green;
  } */

header {
    text-align: center;
    color: maroon;
}
body {
  background-image: url(cards.jpeg);
  background-size:cover;
  background-attachment: fixed; 
  
  
}
#background {
  
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%vh;
  
}

p {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 6px solid maroon;
  border-radius: 8px;
  color: maroon;
  font-size: 22px;
}
h2 {
  text-align: center;
  color: maroon;
}
a {
  text-align: center;
  font-size: 22px;
  border: 6px solid maroon;
  border-radius: 10px;
  text-decoration: none;
  text-decoration-color: none;
  background-color: bisque;
  color: maroon;
  
}
.levels {
  text-align: center;
}
.gridBoard {
  
  display: grid;
  grid-template-rows: 100px 200px 200px 400px 1fr;
  grid-template-columns: 250px 1fr  250px;
  grid-template-areas: 
    ". player1 score1"
    "playerdeck hand1 hand1"
    "section section section"
    "hand2 hand2 player2Deck"
    "score2 player2 .";
}
#player1 {
  grid-area: player1;

}
#player2 {
  grid-area: player2;
}
.score1 {
  grid-area: score1;
  border: 1px solid black;
  
}
.score2 {
  grid-area: score2;
  border: 1px solid black;
}
.hand1 {
  grid-area: hand1;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hand2 {
  grid-area: hand2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  grid-area: card;
}
#player1Deck {
  grid-area: player1Deck;
}
#player2Deck {
  grid-area: player2Deck;
}
section {
  grid-area: section;
}
.leftStack {
  grid-area: leftStack;
}
.rightStack {
  grid-area: rightStack;
}
div {
  /* border: 1px solid red; */
}
button {
  
  text-align: center;
}